/* --- Style Guide for css --- */

/* ALWAYS USE TABS FOR INDENTATION */
/* -------- NEVER SPACES -------- */

/* --- Use indentation to indicate children --- */

/* --- Below is some example html and how you would structure the corresponding css ---  */
/*
    <section className="exampleClass">
        <div>
            <p>paragraph text</p>
            <p>paragraph text</p>
            <p>paragraph text</p>
        <div>
        <img src="./thisIsTheFilePathToAnImage"/>
    <section> 
*/
    .exampleClass {
        display: flex;
    }

        .exampleClass div {
            margin: 5%;
        }

            .exampleClass div p {
                color: white;
            }
        
        .exampleClass img {
            width: 50px;
        }

/*

There are 3 rules for grouping: 

    1. Box Model — display, margin, padding, position, width, etc.
    2. Visual Decorations — background, border, transform, outline, etc.
    3. Typography — color, font, text-decoration, etc.

    Each of these groups are then grouped in a logical order that makes sense,
    there is no strict rules for how rules in each section should be grouped, 
    just use some common sense...

*/

    .exampleClass {
        /* Box model */
        display: flex;
        margin: 0 0 1rem;
        padding: 0.5em;
    
        /* Visual decorations */
        background-color: darkgreen;
        border: 1px solid green;
    
        /* Typography */
        color: red;
        font-family: sans-serif;
    } 


/* Always label new sections with a title STARTING WITH AN = 
This is important as it allows for easier searching within the IDE for different sections 

    ex) 
        /* --------------- =Header --------------- */ 

        /* 
            header {...}
            nav {...} 
        */

        /* --------------- =About --------------- */ 

        /*
            section {...}
            aside {...}
        */

        /* --------------- =Contact --------------- */ 
        
           /*
            section {...}
            footer {...}
        */
                

/* --- End of style guide --- */


* { 
    margin: 0;
    padding: 0;
}

/* --------------------- =NavBar ------------------------ */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 1%;
    box-sizing: border-box;
    
    background-color: rgb(195, 195, 195);
}   

    .navLeft {
        display: flex;
        align-items: center;
    }

        .navLogo {
            width: 75px;
        }

        nav ul {
            display: flex;
            width: 400px;

        }

        nav ul a {
            all: unset;
            padding: 0 3%;

            cursor: pointer;
        }

    .navRight {
        display: flex;
        justify-content: center;
    }

        .navRight img:nth-child(1) {
            width: 75px;

            border-radius: 9999px;
        }

        .navRight img:nth-child(2) {
            width: 75px;
        }


    /* ----------------------- =Home ---------------------------- */


    .allRoomatesHeading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .allRoomatesHeading div {
            display: flex;
        }

    .allRoomatesProfileImgContainer {

    }

        .allRoomatesProfileImgContainer img {
            width: 75px;

            border-radius: 9999px;
        }


    .todaysTaskTable tr th {
        border: solid black 1px;
    }

        .todaysTaskTable img {
            width: 50px;

            border-radius: 9999px;
        }

    

/* ------------------ =Fridge ------------------ */


.fridgeRow1 {
    display: flex;
}

    .shoppingList {
        width: 50%;
    }

        .shoppingListContainer {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;

            background-color: rgb(218, 218, 218);
            border-radius: 15px;
        }

            .shoppingListContainer li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 1%;
                box-sizing: border-box;
            }

    .foodRestrictions {
        width: 30%;
    }

        .foodRestrictionsContainer {
            display: flex;
            flex-direction: column;

            background-color: rgb(218, 218, 218);
            border-radius: 15px;
        }

            .foodRestrictionsContainer li {
                display: flex;
                align-items: center;
            }
            
                .foodRestrictionsContainer li img:nth-child(1) {
                    height: 50px;
                    width: 50px;

                    border-radius: 9999px;
                }

                .foodRestrictionsContainer li p {

                }

                .foodRestrictionsQuestionMarkIcon {
                    height: 40px;
                    width: 40px;
                }


.fridgeRow2{}

    .fridgeTable tr th {
        border: solid black 1px;
    }

    .fridgeTable th:not(.fridgeTableHeading) {
        height: 60px;
    }

        .fridgeTableProfileIcon {
           height: 50px; 
           width: 50px;

           border-radius: 9999px;
        }

        .fridgeTableItemContainer {
            display: flex;
            align-items: center;
        }

            .fridgeTableItemContainer img {
                height: 50px;
                width: 50px;
            }







/* ------------------ =RoomateInfoPage --------------------- */

.roomateInfoTileContainer {
    display: flex;
}

    .roomateInfoTile {
        display: flex;
        padding: 1%;
        width: 80%;
        
        border-radius: 15px;
        background: rgb(208, 208, 208);
    }

        .roomateProfileMainImg {
            width: 150px; 
            height: 150px;

            border-radius: 9999px;
        }

        .roomateInfoTileRow2 {
            display: flex;

        }

            .roomateInfoTileRow2 div {
                display: flex;
                
            }

            .roomateInfoTileRow2 div img {
                width: 25px;     
                
            }









